@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kategori Ekle</h1>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">Kategori Ekle</p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label>Kategori</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                </div>
                
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
            </form>
        </div>
    </div>
</div>
