
@{
    ViewData["Title"] = "ChangePassword";
}

@model ChangePasswordViewModel

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Şifre Değiştir</h2>


            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
            </div>

            <form asp-controller="Member" asp-action="ChangePassword" method="post">
                <div class="row mb-3">
                    <label for="CurrentPassword" class="col-md-4 col-form-label" asp-for="CurrentPassword"></label>
                    <div class="col-md-8">
                        <input asp-for="CurrentPassword" class="form-control">
                        <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="NewPassword" class="col-md-4 col-form-label" asp-for="NewPassword"></label>
                    <div class="col-md-8">
                        <input asp-for="NewPassword" class="form-control">
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="ConfirmNewPassword" class="col-md-4 col-form-label" asp-for="ConfirmNewPassword"></label>
                    <div class="col-md-8">
                        <input asp-for="ConfirmNewPassword" class="form-control">
                        <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Şifreyi Değiştir</button>
            </form>

        </div>

    </div>