@model List<HomePageCategoryViewModel>
<div class="row mb-4">
    @foreach(var item in Model)
    {
    <div class="col-md-4">
        <a href="javascript:void(0)" class="overlay-img">
            <img src="~/Template/assets/imgs/img-3.jpg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, weber Landing page">
            <div class="overlay"></div>
            <div class="des">
                <h1 class="title">@item.Category</h1>
                <h6 class="subtitle"></h6>
                <p>magna aliqua</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </a>
    </div>
    }
    @*<div class="col-md-4">
    <a href="javascript:void(0)" class="overlay-img">
    <img src="~/Template/assets/imgs/img-2.jpg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, weber Landing page">
    <div class="overlay"></div>
    <div class="des">
    <h1 class="title">Nostrud exercitation </h1>
    <h6 class="subtitle">
    nulla pariatur</p>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
    </p>
    </div>
    </a>
    </div>
    <div class="col-md-4">
    <a href="javascript:void(0)" class="overlay-img">
    <img src="~/Template/assets/imgs/img-3.jpg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, weber Landing page">
    <div class="overlay"></div>
    <div class="des">
    <h1 class="title">Excepteur sint</h1>
    <h6 class="subtitle">
    magna aliqua</p>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua.
    </p>
    </div>
    </a>
    </div>*@
</div>

<a href="#">Load More <i class="ti-angle-double-right angle"></i> </a>